/* Custom vars*/


/* Styling */

* {
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
}

body {
    font-family: Roboto;
    height: 100vh;
    margin: 0;
}

#sec-one {
    height: 15%;
}

#sec-two {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sec-three {
    height: 10%;
}

#main-title {
    text-align: center;
    font-size: 2.5em;
    background-color: white;
    margin-bottom: 5px;
}


#main-title, #main-footer h2 {
    font-family: 'Finger Paint';
}


#main-nav ul {
    display: flex;
    justify-content: center;
}

.nav-item {
    padding-left: 25px;
    display: inline-block;
    list-style: none;
    font-weight: 700;
}

.nav-item a:hover {
    color: #99bbff;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.iframe-container {
    max-width: 100%;
    height: 30em;
    margin: 0;
    padding: 0;
}

.iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
	cursor: pointer; 
}
/* please double check line 83! */

#main-footer {
    display: flex;
    height: 100%;
    color: white;
    justify-content: center;
    background-color: #99bbff;
}

#footer-title-text {
    align-self: center;
}